<Map srs="+init=epsg:3857">

    <Parameters>
      <Parameter name="format">pbf</Parameter>
      <Parameter name="maxzoom">18</Parameter>
      <Parameter name="minzoom">15</Parameter>
    </Parameters>

    <Style name="Parcels">
        <Rule>
          <PolygonSymbolizer fill="#f2eff9" />
          <LineSymbolizer stroke="rgb(50%,50%,50%)" stroke-width="0.1" />
        </Rule>
    </Style>

    <Layer name="parcels" status="on" srs="+init=epsg:4326">
        <StyleName>Parcels</StyleName>
        <Datasource>
          <Parameter name="type">postgis</Parameter>
          <Parameter name="host">{{parcels_database_host}}</Parameter>
          <Parameter name="dbname">{{parcels_database_name}}</Parameter>
          <Parameter name="user">{{parcels_database_user}}</Parameter>
          <Parameter name="password">{{parcels_database_password}}</Parameter>
          <Parameter name="table">(select parcel_id::int, addr, city, zip, state, bld_sq_ft::int,tot_val::int, lan_val::int, imp_val::int, yr_blt::int, rooms::int, bedrooms::int, story_nbr::int, units_nbr::int, condition,  wkb_geometry from parcels) as parcels</Parameter>
          <Parameter name="estimate_extent">false</Parameter>
          <Parameter name="extent">-124.848974,24.396308,-66.885444,49.384358</Parameter>
        </Datasource>
    </Layer>
</Map>

