{
  "/": {
    "source": "tmstyle://{{project_path}}/styles/base.tm2"
  },
  "/incidents": {
    "source": "tmstyle://{{project_path}}/styles/incidents.tm2"
  },
  "/base_pbf": {
      "source": "merge:?source=mapbox:///mapbox.mapbox-terrain-v2,mapbox.mapbox-streets-v5&source=mbtiles%3A%2F%2F%2Ftiles%2Fstations.mbtiles&source=mbtiles%3A%2F%2F%2Ftiles%2Fhydrants.mbtiles&source=mbtiles%3A%2F%2F%2Ftiles%2Fdistricts.mbtiles"
  }
}