ALLOWED_HOSTS = {{ django_allowed_hosts|default([]) }}
ADMINS = {{ django_admins|default(()) }}
REGISTRATION_OPEN = {{ registration_open|default(False) }}
DEPARTMENT_ADMIN_VERIFIERS = {{ django_department_admin_verifiers|default(()) }}
